@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    outline: 1px solid red !important;
  } */

  html {
    font-family: "Baloo Bhaijaan 2", cursive;
    direction: rtl;
  }

  body {
    background-image: url("./pattern-randomized.svg");
    background-attachment: fixed;
    background-size: contain;
  }
}
